/* src/Styles/Estadisticas.css */

.estadisticas {
  background-color: #E8F2FF;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

.main-title {
  font-size: 36px;
  color: #07458B;
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 20px;
  color: #07458B;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #07458B;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.botonera {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.input-circuito {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #07458B;
  width: 150px;
}

body {
  background-color: #E8F2FF;
  margin: 0;
  padding: 0;
}